## 1. Multipage Tabular Scrape

- <a href="https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AllRecordsAction.action">On this site</a>, scrape all doctors whose last names begin with "Z".
- Export the content into a CSV file called ```md_Z.csv```.

In [ ]:
### add more cells as needed

In [1]:
from bs4 import BeautifulSoup  ## web scraping
import requests ## request html for a page(s)
import pandas as pd ## pandas to work with data

In [2]:
### add more cells as needed

## Requesting URL website. Luckly we can just target the letter z since the page very easliy allows you to do that.
# The URL is practically the same for all pages except the page number changes in the end. So I am going to add a "{}"
#to signal the change.

base_url = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p={}"

In [3]:
#Now we are going to iterate through each url and add a number. There are five pages:

for url_number in range(1,6):
    print(base_url.format(url_number))

https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=1
https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=2
https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=3
https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=4
https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=5

In [4]:
all_urls = [base_url.format(url_number) for url_number in range(1,6)]

all_urls

['https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=1',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=2',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=3',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=4',
 'https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=5']

In [5]:
#Before we go for the fulls scrape lets just test it on the first page to see what we get.

#First step is getting the URL and store it:

url = "https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=1"

#then you store it to a "response". and check the status: 

response = requests.get(url)

response.status_code
#200 code is "here is the data",

200

In [6]:
#This is for one page to see that how the table will look and then we'll replicate:
df_list = pd.read_html(response.text)

df_list

[                                  Physician Last Name  \
 0                                             Zaccheo
 1                                           Zachariah
 2                                              Zachel
 3                                              Zackin
 4                                              Zackin
 5                                              Zackin
 6                                               Zadeh
 7                                               Zafar
 8                                               Zafar
 9                                                Zahl
 10                                             Zahler
 11                                              Zaino
 12                                                Zak
 13                                               Zaki
 14                                              Zales
 15                                           Zalmanov
 16                                           Zalmanov
 17                                              Zaman
 18                                              Zaman
 19                                              Zamek
 20                               New Physician Search
 21  Physician Records \tvar css = ".visualping-con...

                                  Physician First Name Physician Middle Name  \
 0                                              Jerald                     D
 1                                             Abraham                   NaN
 2                                            Gretchen                   NaN
 3                                               Henry                     J
 4                                               Henry                     J
 5                                               Henry                     J
 6                                              Mehran                   NaN
 7                                               Kamal                   NaN
 8                                               Syeda                   NaN
 9                                             Kenneth                   NaN
 10                                             Gideon                   NaN
 11                                             Edward                   NaN
 12                                               John                   NaN
 13                                               Omar                     S
 14                                            Michael                   NaN
 15                                            Mikhail            Isaakovich
 16                                            Mikhail                     I
 17                                              Fasih                     Q
 18                                               Shah      Mohammad Maniruz
 19                                             Albert                   NaN
 20                                                NaN                   NaN
 21  Physician Last Name Physician First Name Physi...                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0         134842.0           MD     12/20/2001   12/23/2001         1946.0
 1         137458.0           MD     09/15/2004   09/08/2004         1950.0
 2          20699.0           PA     10/13/2017   10/06/2017         1952.0
 3         101457.0           MD     03/28/2002   03/09/2005         1941.0
 4         101457.0           MD     03/16/2005   03/09/2005         1941.0
 5         101457.0           MD     02/21/1990   03/09/2005         1941.0
 6           3399.0           PA     07/21/2010   09/06/2013         1961.0
 7            113.0           SA     08/04/2016   08/08/2016         1968.0
 8         158264.0           MD     10/16/2007   11/06/2007         1936.0
 9         151413.0           MD     04/18/2008   04/11/2008         1956.0
 10          6578.0           PA     08/04/2004   07/29/2004         1964.0
 11         42864.0           MD     12/12/1997          NaN            NaN
 12        170914.0           MD     04/27/2007   04/20/2007         1953.0
 13        114194.0           MD     10/13/1994          NaN            NaN
 14         95317.0           MD     07/19/1994          NaN            NaN
 15        158429.0           MD     11/08/2005   11/02/2005         1946.0
 16        158429.0           MD     03/06/2013   02/27/2013         1946.0
 17        114131.0           MD     11/24/1994          NaN            NaN
 18        141193.0           MD     09/27/2021   10/29/2021         1945.0
 19        181578.0           MD     11/20/2013   12/26/2013         1961.0
 20             NaN          NaN            NaN          NaN            NaN
 21             NaN          NaN            NaN          NaN            NaN  ,
    Physician Last Name Physician First Name Physician Middle Name  \
 0              Zaccheo               Jerald                     D
 1            Zachariah              Abraham                   NaN
 2               Zachel             Gretchen                   NaN
 3               Zackin                Henry                     J
 4               Zackin                Henry                     J
 5               Zackin                Henry                     J
 6                Zadeh               Mehran                   NaN
 7                Zafar                Kamal                   NaN
 8                Zafar                Syeda                   NaN
 9                 Zahl              Kenneth                   NaN
 10              Zahler               Gideon                   NaN
 11               Zaino               Edward                   NaN
 12                 Zak                 John                   NaN
 13                Zaki                 Omar                     S
 14               Zales              Michael                   NaN
 15            Zalmanov              Mikhail            Isaakovich
 16            Zalmanov              Mikhail                     I
 17               Zaman                Fasih                     Q
 18               Zaman                 Shah      Mohammad Maniruz
 19               Zamek               Albert                   NaN

     License Number License Type Effective Date Date Updated  Year of Birth
 0           134842           MD     12/20/2001   12/23/2001         1946.0
 1           137458           MD     09/15/2004   09/08/2004         1950.0
 2            20699           PA     10/13/2017   10/06/2017         1952.0
 3           101457           MD     03/28/2002   03/09/2005         1941.0
 4           101457           MD     03/16/2005   03/09/2005         1941.0
 5           101457           MD     02/21/1990   03/09/2005         1941.0
 6             3399           PA     07/21/2010   09/06/2013         1961.0
 7              113           SA     08/04/2016   08/08/2016         1968.0
 8           158264           MD     10/16/2007   11/06/2007         1936.0
 9           151413           MD     04/18/2008   04/11/2008         1956.0
 10            6578           PA     08/04/2004   07/29/2004         1964.0
 11           42864           MD     12/12/1997          NaN            NaN
 12          170914           MD     04/27/2007   04/20/2007         1953.0
 13          114194           MD     10/13/1994          NaN            NaN
 14           95317           MD     07/19/1994          NaN            NaN
 15          158429           MD     11/08/2005   11/02/2005         1946.0
 16          158429           MD     03/06/2013   02/27/2013         1946.0
 17          114131           MD     11/24/1994          NaN            NaN
 18          141193           MD     09/27/2021   10/29/2021         1945.0
 19          181578           MD     11/20/2013   12/26/2013         1961.0  ,
     0                                                  1
 0 NaN  A B C D E F G H I J K L M N O P Q R S T U V W ...,
    0  1  2  3  4  5  6  7  8  9   ... 17 18 19 20 21 22 23 24 25 26
 0 NaN  A  B  C  D  E  F  G  H  I  ...  Q  R  S  T  U  V  W  X  Y  Z

 [1 rows x 27 columns]]

In [7]:
#Verifying the type of data:
# Adding the first index position is important because?
type(df_list[0])

pandas.core.frame.DataFrame

In [8]:
phys_df = df_list[0]

phys_df

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Zaccheo,Jerald,D,134842.0,MD,12/20/2001,12/23/2001,1946.0
1,Zachariah,Abraham,NaN,137458.0,MD,09/15/2004,09/08/2004,1950.0
2,Zachel,Gretchen,NaN,20699.0,PA,10/13/2017,10/06/2017,1952.0
3,Zackin,Henry,J,101457.0,MD,03/28/2002,03/09/2005,1941.0
4,Zackin,Henry,J,101457.0,MD,03/16/2005,03/09/2005,1941.0
5,Zackin,Henry,J,101457.0,MD,02/21/1990,03/09/2005,1941.0
6,Zadeh,Mehran,NaN,3399.0,PA,07/21/2010,09/06/2013,1961.0
7,Zafar,Kamal,NaN,113.0,SA,08/04/2016,08/08/2016,1968.0
8,Zafar,Syeda,NaN,158264.0,MD,10/16/2007,11/06/2007,1936.0
9,Zahl,Kenneth,NaN,151413.0,MD,04/18/2008,04/11/2008,1956.0
10,Zahler,Gideon,NaN,6578.0,PA,08/04/2004,07/29/2004,1964.0
11,Zaino,Edward,NaN,42864.0,MD,12/12/1997,NaN,NaN
12,Zak,John,NaN,170914.0,MD,04/27/2007,04/20/2007,1953.0
13,Zaki,Omar,S,114194.0,MD,10/13/1994,NaN,NaN
14,Zales,Michael,NaN,95317.0,MD,07/19/1994,NaN,NaN
15,Zalmanov,Mikhail,Isaakovich,158429.0,MD,11/08/2005,11/02/2005,1946.0
16,Zalmanov,Mikhail,I,158429.0,MD,03/06/2013,02/27/2013,1946.0
17,Zaman,Fasih,Q,114131.0,MD,11/24/1994,NaN,NaN
18,Zaman,Shah,Mohammad Maniruz,141193.0,MD,09/27/2021,10/29/2021,1945.0
19,Zamek,Albert,NaN,181578.0,MD,11/20/2013,12/26/2013,1961.0
20,New Physician Search,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Physician Records \tvar css = "".visualping-con...",Physician Last Name Physician First Name Physi...,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
## Let's import the required libaries to create a delay:
from random import randrange ##  allows us to randomize numbers library
import time ## time tracker

In [10]:
#Now we can begin the scrape by each of the URLs:

#Successful links scraped:
all_df = []
#Unsucessful links scraped:
busted_links = []

counter = 1

for link in all_urls:
    print(f"Scraping {counter} of {len(all_urls)}")
    counter += 1
    print(f"Scraping {link}")
    response = requests.get(link)
    if response.status_code == 200:
        df = pd.read_html(response.text)
        all_df.append(df[0])
    else:
        print(f"{link} returned a busted link with response {response.status_code}")
        busted_links.append(link)
    # ^ this help us keep track of broken link or missing data that was unsuccessfully scraped.
    snooze = randrange(10,20)
    print(f"Snoozing for {snooze} sec. before next scrape")
    time.sleep(snooze)

print("ALL DONE!")

Scraping 1 of 5
Scraping https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=1
Snoozing for 14 sec. before next scrape
Scraping 2 of 5
Scraping https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=2
Snoozing for 11 sec. before next scrape
Scraping 3 of 5
Scraping https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=3
Snoozing for 15 sec. before next scrape
Scraping 4 of 5
Scraping https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=4
Snoozing for 16 sec. before next scrape
Scraping 5 of 5
Scraping https://apps.health.ny.gov/pubdoh/professionals/doctors/conduct/factions/AlphabetSearchAction.action?alpbhabetSearch=Z&d-49653-p=5
Snoozing for 14 sec. before next scrape
ALL DONE!

In [11]:
len(all_df)

5

In [17]:
# I'm checking each page to see where the rows with the unusable data is. So ill do an index check from 1 through 5.

all_df[4]

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Zulfacar,Mary,NaN,130166.0,MD,10/21/2005,10/14/2005,1940.0
1,Zuniga,Dario,NaN,123324.0,MD,05/07/2002,05/07/2002,1941.0
2,Zuttah,Silas,H,153216.0,MD,01/22/2003,06/17/2003,1953.0
3,Zweig,Steven,Jeffrey,140242.0,MD,05/17/2006,05/10/2006,1949.0
4,New Physician Search,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"Physician Records \tvar css = "".visualping-con...",Physician Last Name Physician First Name Physi...,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
#lets combine all 5 dataframes into one:
df = pd.concat(all_df, ignore_index = True)

df

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Zaccheo,Jerald,D,134842.0,MD,12/20/2001,12/23/2001,1946.0
1,Zachariah,Abraham,NaN,137458.0,MD,09/15/2004,09/08/2004,1950.0
2,Zachel,Gretchen,NaN,20699.0,PA,10/13/2017,10/06/2017,1952.0
3,Zackin,Henry,J,101457.0,MD,03/28/2002,03/09/2005,1941.0
4,Zackin,Henry,J,101457.0,MD,03/16/2005,03/09/2005,1941.0
...,...,...,...,...,...,...,...,...
89,Zuniga,Dario,NaN,123324.0,MD,05/07/2002,05/07/2002,1941.0
90,Zuttah,Silas,H,153216.0,MD,01/22/2003,06/17/2003,1953.0
91,Zweig,Steven,Jeffrey,140242.0,MD,05/17/2006,05/10/2006,1949.0
92,New Physician Search,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,"Physician Records \tvar css = "".visualping-con...",Physician Last Name Physician First Name Physi...,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df.tail(35)

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
59,Zhitlovsky,German,NaN,163179.0,MD,06/23/1995,NaN,NaN
60,Zhong,Chizheng,NaN,201312.0,MD,08/20/2003,08/22/2003,1953.0
61,Zhu,Mary,M,186722.0,MD,04/05/2013,04/03/2013,1939.0
62,Zhu,Ming,Zhong,200493.0,MD,03/28/2011,10/14/2014,1949.0
63,Ziegler,Ross,NaN,151632.0,MD,11/10/2015,11/04/2015,1952.0
64,New Physician Search,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,"Physician Records \tvar css = "".visualping-con...",Physician Last Name Physician First Name Physi...,NaN,NaN,NaN,NaN,NaN,NaN
66,Ziering,William,H,80678.0,MD,11/05/2001,11/14/2001,1930.0
67,Ziets,Robert,NaN,177701.0,MD,11/27/1996,NaN,NaN
68,Zigelbaum,Sheldon,D,142022.0,MD,09/14/1993,NaN,NaN
69,Zikria,Bashir,A,91655.0,MD,08/17/2009,08/10/2009,1932.0
70,Zimba,Frank,NaN,197137.0,MD,09/16/2008,09/10/2008,1954.0
71,Zimmerman,Arnold,NaN,141422.0,DO,11/01/2007,10/25/2007,1940.0
72,Zimmerman,Daniel,Jeffrey,154263.0,MD,09/30/2008,09/24/2008,1947.0
73,Zimmerman,Raymond,NaN,96514.0,MD,01/17/2002,01/22/2002,1937.0
74,Ziomek,John,Josef,166256.0,MD,09/05/2006,08/30/2006,1960.0
75,Zipper,Jeffrey,A,174914.0,MD,02/15/2013,02/08/2013,1960.0
76,Zisk,Gary,NaN,103786.0,DO,09/02/2013,11/15/2016,1941.0
77,Zisman,Parvin,NaN,106659.0,MD,11/12/1991,09/17/2002,1939.0
78,Zizmor,Jonathan,NaN,106081.0,MD,05/11/2004,05/05/2004,1945.0
79,Zizza,Frank,NaN,97709.0,MD,07/23/1998,NaN,1928.0
80,Zois,Christ,L,106437.0,MD,02/07/1995,NaN,NaN
81,Zubkin,Allan,NaN,172265.0,MD,11/02/2005,10/27/2005,1955.0
82,Zucker,Arnold,Harris,76934.0,MD,09/13/2000,NaN,1930.0
83,Zuckerman,Steven,Jeffrey,154264.0,MD,08/04/2004,07/29/2004,1952.0
84,Zuerndorfer,Gordon,H,159077.0,MD,10/08/1998,NaN,1956.0
85,Zugec,Mirko,NaN,213710.0,MD,12/08/2020,12/01/2020,1960.0
86,New Physician Search,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,"Physician Records \tvar css = "".visualping-con...",Physician Last Name Physician First Name Physi...,NaN,NaN,NaN,NaN,NaN,NaN
88,Zulfacar,Mary,NaN,130166.0,MD,10/21/2005,10/14/2005,1940.0
89,Zuniga,Dario,NaN,123324.0,MD,05/07/2002,05/07/2002,1941.0
90,Zuttah,Silas,H,153216.0,MD,01/22/2003,06/17/2003,1953.0
91,Zweig,Steven,Jeffrey,140242.0,MD,05/17/2006,05/10/2006,1949.0
92,New Physician Search,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,"Physician Records \tvar css = "".visualping-con...",Physician Last Name Physician First Name Physi...,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
# Im clearing the bad rows of data after finding them.
df = df.drop(labels=[20, 21, 42, 43, 64, 65, 86, 87, 92, 93], axis=0)

df

,Physician Last Name,Physician First Name,Physician Middle Name,License Number,License Type,Effective Date,Date Updated,Year of Birth
0,Zaccheo,Jerald,D,134842.0,MD,12/20/2001,12/23/2001,1946.0
1,Zachariah,Abraham,NaN,137458.0,MD,09/15/2004,09/08/2004,1950.0
2,Zachel,Gretchen,NaN,20699.0,PA,10/13/2017,10/06/2017,1952.0
3,Zackin,Henry,J,101457.0,MD,03/28/2002,03/09/2005,1941.0
4,Zackin,Henry,J,101457.0,MD,03/16/2005,03/09/2005,1941.0
...,...,...,...,...,...,...,...,...
85,Zugec,Mirko,NaN,213710.0,MD,12/08/2020,12/01/2020,1960.0
88,Zulfacar,Mary,NaN,130166.0,MD,10/21/2005,10/14/2005,1940.0
89,Zuniga,Dario,NaN,123324.0,MD,05/07/2002,05/07/2002,1941.0
90,Zuttah,Silas,H,153216.0,MD,01/22/2003,06/17/2003,1953.0
91,Zweig,Steven,Jeffrey,140242.0,MD,05/17/2006,05/10/2006,1949.0

In [78]:
 df.to_csv("md_Z.csv", encoding = "UTF-8", index = False)

## 2. Conversion function


Write a function that takes string values like ```$12.24267```, ```10,201``` and ```$12,501``` and converts them into floating point numbers like ```12.24```, ```10201.0``` and ```12501.0```

Test it out on those 3 string values.

In [22]:
numeros = [12.24267, 10_201, 12_501]

In [34]:
#Lets begin con:

def numConvert(input_num):
    converted = float("{:.2f}".format(input_num))
    print(converted)

In [52]:
numConvert(12.24267)

12.24

In [58]:
fpn = []

for number in numeros:
    fpn.append(numConvert(number))
    
fpn

12.24
10201.0
12501.0

[None, None, None]